<?xml version="1.0"?>

<model>
  <name>Project World</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>  

  <author>
    <name>jf613</name>
    <email>jf613@cam.ac.uk</email>
  </author>

  <description>
    World for the Robot Chase project.
    One (Gazebo) unit corresponds to about 20m.
  </description>
</model>
