<launch>

  <!-- Note: name MUST be unique for each different instance of this -->
  <arg name="name" default="turtlebot_0"/>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find mrs_project)/work/ros/launch/one_bot_individual.launch">
    <arg name="name" value="$(arg name)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
  </include>

  <node pkg="mrs_project" type="register_client.py" name="$(arg name)_register" args="--name=$(arg name)" output="screen"></node>

</launch>
